* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; à regarder si c'est bien de le mettre comme ca */
}

body {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Raleway', 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: 400;
    color: #000000; 
}

h1, h2 {
    font-size: 1.37em;
    font-weight: 700;
}

h3 {
    font-size: 1em;
    font-weight: 700;
}

p, li {
    font-size: 1em;
    font-weight: 400;
}

main, header {
    margin: 50px;
} 

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: inherit;
    text-decoration: none;
    padding: 20px 30px;
}

.a-nav:hover {
    color: #0065fc;
    border-top: 3px solid #0065fc;
}

nav img {
    width: 61px;
    height: 19px;
}

.trouver p {
    margin-top: 10px;
}

.search-bar {
    width: 30%;
    min-width: 450px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar input {
    width: 55%;
    height: 50px;
    border: 1px solid #f2f2f2;
}

input[type=text] {
    text-align: center;
    font-family: inherit;
    font-size: 1.12em;
    font-weight: 700;
}

input[type=text]::placeholder {
    font-size: 1.12em;
    font-weight: 700;
    text-align: left;
    padding-left: 20px;
    color: black;
}  

.search-bar button {
    width: 30%;
    height: 50px;
    background: #0065fc;
    font-weight: 700;
    font-size: 1.12em;
    color: white;
    text-align: center;
    border: none;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}

.loop {
    display: none;
}

.location-dot {
    width: 50px;
    height: 50px;
    background: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtres {
    width: 70%;
    margin-top: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.filtres h3 {
    font-size: 1.12em;
    font-weight: 700s;
    display: inline;
}

.button {
    background: #FFFFFF;
    font-size: 1.06em;
    font-weight: 700;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px 20px;
    display: flex;
    flex-flow: row nowrap;
}

.button-icon {
    margin-right: 10px;
    color: #0065fc;
}

.button:hover {
    background-color: #deebff;
}


.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.info i {
    height: 25px;
    width: 25px;
    display: inline-block;
    color: #0065fc;
    margin-top: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    -webkit-text-stroke: 1px white;

}

/*****************************************
               cliquable
*****************************************/
.card-link {
    width: 30%;
    display: inline-block;
}

.card-link:hover {
    transform: scale(1.05);
 }

.hotels a {
    text-decoration: none;
    color: inherit;
}

/*****************************************
               fin cliquable
*****************************************/

.hotels {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: green;
}

#hebergements {
    /* flex-grow: 0;
    flex-shrink: 0; */
    width: 65%;
    /* flex-basis: 65%; */
    height: 625px;
    background: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column; /*je n'arrive pas à aligner les divs pour cela j'utilise padding plus bas*/    
    padding: 40px;
    background: teal;
}

.container-hebergements {
    width: 100%;
    height: 100%;
    /* border-radius: 20px; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px; */
    background: greenyellow;
}

.card-hebergements {
    width: 100%;
    min-height: 215px; /*pour eviter le debordement pour les largeurs intermediaires */
    border: 5px solid #ffffff;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    overflow: hidden; /*à voir si je le garde ou pas ou je le mets au debut du fichier css*/
}

.card-hebergements img {
    width: 100%;
    height: 125px;
    /* display: block; */
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    /* flex-direction: column;
    align-content: space-between; */
}

.body-card-hebergements {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
    /* width: 100%;
    margin-left: 5px;
    margin-top: 5px; */
    /* line-height: 1em; */
}

.body-card-hebergements p {
    font-size: 0.80em;
    /* margin-top: 5px; */
}

.stars-card-hebergements {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.stars-card-hebergements i {
    color: #0065fc;
    font-size: 0.65em;
    margin-right: 1px;
}

.populaires {
    width: 30%;
    background: rosybrown;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.container-populaires {
    width: 100%;
    height: 580px;
    background: royalblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.card-populaires {
    width: 300%;
    height: 145px;
    display: flex;
    flex-direction: row;
    background: white;
    overflow: hidden;
}

.card-populaires img {
    width: 30%;
    object-fit: cover;
}

.body-card-populaires {
    display: flex;
    flex-direction: column;
}

#activites {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-activites {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#activites a {
    text-decoration: none;
    color: inherit;
}

.article {
    width: 22%;
    height: 445px;
    display: block;
}

.article:hover {
    transform: scale(1.05);
}

.card-activites {
    width: 100%;
    height: 445px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border-radius: 20px;
    overflow: hidden;
}

.card-title {
    margin: 10px 20px;
} 

.card-activites img {
    width: 100%;
    height: 88%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

footer {
    background-color: #F2F2F2;
    width: 93%;
    height: 35vh;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 50px;
    margin-bottom: 0;
}

footer ul {
    list-style-type: none;
    text-align: left;
    padding-left: 0px;
    padding-top: 20px;
}
footer li {
    padding-bottom: 12px;
}
footer h3 {
    padding-top: 45px;
}

@media only screen and (min-width: 768px) and (max-width:992px) {
    body {
        width: 100%;
        height: 100%;
    }

    nav a {
        margin-right: 0;
        margin-left: 50px;
    }

    .search-bar {
        width: 60%;
    }

    .button-icon {
        margin-right: 5px;
    }

    .filtres {
        width: 100%;
    }

    .info {
        margin-top: 20px;
    }

    .hotels {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    #hebergements {
        width: 100%;
        padding: 30px;
        gap: 20px;
    }    

    .container-hebergements {
        width: 100%;
        gap: 20px;
    }
    
    .body-card-hebergements {
        margin-left: 5px;
    }

    .stars-card-hebergements {
        margin-left: 5px;
    }

    .populaire {
        width: 100%;
        height: 100%;
    }

    .heading-populaire {
        margin-top: 20px;
        margin-left: 20px;
    }

    .container-populaire {
        width: 95%;
        margin: 30px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .card-link {
        width: 100%;
    }

    .card-populaire {
        width: 100%;
        margin: 0;
    }

    .card-populaire img {
        width: 90%;
    }

    .body-card-populaire {
        margin-top: 10px;
        margin-left: 5px;
    }

    .stars-card-populaire i {
        margin-top: 10px;
    }

    #activites {
        margin-top: 40px;
    }

    .article {
        width: 22%;
        height: 267px;
        display: block;
    }

    .card-activites {
        width: 100%;
        height: 267px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
        border-radius: 20px;
        overflow: hidden
    }

    .card-activites img {
        width: 100%;
        height: 80%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    .card-title {
        margin: 5px 10px;
    } 

    footer {
        width: 87%;
    }
} 

@media only screen and (min-width: 320px) and (max-width: 767px) {
    body {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    main, header, footer {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    nav a {
        padding: 30px 90px;
        border-bottom: 3px solid #f2f2f2;
    }

    .a-nav:hover {
        color: #0065fc;
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }

    .logo {
        margin-top: 20px;
        margin-bottom: 40px;
    } 

    .menu span {
        width: 100%;
        display: block;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .trouver {
        margin: 30px 20px;
    }

    .search-bar {
        width: 100%;
        margin-top: 35px;
    }

    .search-bar input {
        width: 80%;
    }

    .search-bar button {
        width: 50px;
        height: 50px;
        background: #0065fc;
        font-weight: 700;
        font-size: 1.12em;
        color: white;
        text-align: center;
        border: none;
        border-radius: 0px 15px 15px 0px;
        cursor: pointer;
    }

    .button-text {
        display: none;
    }

    .loop {
        display: unset;
    }
    
    .filtres {
        width: 100%;
        margin-top: 35px; 
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    
    .filtres h3 {
        width: 100%;
        grid-column: 1 / -1;
     }
    
    .button {
        padding: 15px 0 15px 10px;
        text-align: left;
    }
    
    .info {
        margin-top: 40px;
    }
    
    .hotels {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .populaire {
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding-bottom: 45px;
    }
    
    .heading-populaire {
        width: 90%;
        margin: 25px auto;
    }

    .heading-populaire i {
        margin-right: 0;
    }
    
    .container-populaire {
        width: 100%;
        margin-top: 0;
        gap: 10px;
    }
    
    .card-populaire {
        width: 90%;
        margin: 0 auto;
    }
    
    #hebergements {
        width: 100%;
        background: white;
        padding: 0;
        margin: 0;
    }
    
    .heading-hebergements {
        width: 90%;
        margin: 25px auto;
    }
       
    .container-hebergements {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-radius: 0px;
    }

    .card-hebergements {
        width: 90%;
        margin: 0 auto;
    }
    
    .afficher-plus {
        display: none;
    }
    
    #activites {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #activites a {
        text-decoration: none;
        color: inherit;
    }
    
    #activites h2 {
        max-width: 200px;
        margin-left: 20px;
        margin-bottom: -15px;
        margin-top: 100px;
    }
    
    .container-activites {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .article {
        width: 100%;
        height: 190px;
    }
    
    .card-activites {
        width: 90%;
        height: 190px;
        margin: 0 auto;
    }
    
    .card-activites img {
        width: 100%;
        height: 70%;
    }
    
    footer {
        width: 100%;
        height: 100%;
        padding: 45px 30px 40px;
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 80px;
    }
    
    footer h3 {
        padding: 0;
        padding-bottom: 20px;
    }
    
    footer ul {
        padding: 0;
        margin-bottom: 30px;
    }

}
