* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1400px;
    min-width: 360px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Raleway', 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: 400;
    color: #000000; 
}

h1, h2 {
    font-size: 1.37em;
    font-weight: 700;
}

h3 {
    font-size: 1em;
    font-weight: 700;
}

p, li {
    font-size: 1em;
    font-weight: 400;
}

main, header {
    margin: 50px;
} 

/********** EN TETE **********/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; /*aligne le menu à droite une plus bas*/
}

.a-nav {
    color: inherit;
    text-decoration: none;
    padding: 20px 30px;
}

.a-nav:hover {
    color: #0065fc;
    border-top: 3px solid #0065fc;
}

nav img {
    width: 61px;
    height: 19px;
}

/*********** SECTION TROUVER **********/

.trouver p {
    margin-top: 10px;
}

.search-bar {
    width: 25%;
    min-width: 450px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar input {
    width: 55%;
    height: 50px;
    border: 1px solid #f2f2f2;
}

input[type=text] {
    text-align: center;
    font-family: inherit;
    font-size: 1.12em;
    font-weight: 700;
}

input[type=text]::placeholder {
    font-size: 1.12em;
    font-weight: 700;
    text-align: left;
    padding-left: 20px;
    color: black;
}  

.search-bar button {
    width: 25%;
    height: 50px;
    background: #0065fc;
    font-weight: 700;
    font-size: 1.12em;
    color: white;
    text-align: center;
    border: none;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}

.loop {
    display: none;
}

.location-dot {
    width: 50px;
    height: 50px;
    background: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtres {
    width: 70%;
    margin-top: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.filtres h3 {
    font-size: 1.12em;
    font-weight: 700s;
    display: inline;
    margin: auto 0;
}

.button {
    background: #FFFFFF;
    font-size: 1.06em;
    font-weight: 700;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px 20px;
    display: flex;
    flex-flow: row nowrap;
}

.button-icon {
    margin-right: 10px;
    color: #0065fc;
}

.button:hover {
    background-color: #deebff;
}


.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.info i {
    height: 25px;
    width: 25px;
    display: inline-block;
    color: #0065fc;
    margin-top: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    -webkit-text-stroke: 1px white;

}

/********** HEBERGEMENTS A MARSEILLE **********/

.hotels {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hebergements {
    width: 67%;
    height: 625px;
    background: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column; /*je n'arrive pas à aligner les divs pour cela j'utilise padding plus bas*/ 
    justify-content: space-between;   
    padding: 35px;
}

.container-hebergements {
    width: 100%;
    height: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*espace entre les cards - verticallement*/
    align-content: space-around; /* espce entre le h2 et le h3 - horizontalement*/
}

.afficher-plus {
    font-size: 1em;
    font-weight: 700;
}

.card-hebergements {
    width: 100%;
    min-width: 175px;
    min-height: 215px; /*pour eviter le debordement pour les largeurs intermediaires */
    border: 5px solid #ffffff;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    overflow: hidden; /*à voir si je le garde ou pas ou je le mets au debut du fichier css*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-hebergements a {
    width: 30%;
}

.card-link {
    /* width: 30%; */
    display: block;
}

.card-link:hover {
    transform: scale(1.05);
 }

.hotels a {
    text-decoration: none;
    color: inherit;
}

.card-hebergements img {
    width: 100%;
    height: 125px;
    display: block;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.body-card-hebergements {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5px;
}

.body-card-hebergements p {
    font-size: 90%;
    /* margin-top: 5px; */
}

.body-card-hebergements h3 {
    font-size: 95%;
}

.stars-card-hebergements {
    width: 100%;
    margin-left: 5px;
    display: flex;
    align-items: flex-start;
}

.stars-card-hebergements i {
    color: #0065fc;
    font-size: 0.8em;
    margin-right: 1px;
}

/********** LES PLUS POPULAIRES **********/
 
.populaires {
    width: 30%;
    height: 625px;
    background: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 35px;
}

.heading-populaires {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    /* justify-content: space-between;
    align-items:baseline; */
}

.heading-populaires i { /*a voir si on peut mettre blue sur tous les icons */
    color: #0065fc
}

.container-populaires {
    width: 100%;
    height: 625px;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;

}
 
.card-populaires {
    width: 100%;
    height: 145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    border: 5px solid #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border-radius: 20px;
    overflow: hidden; /* ca caches les coins de la photos donc je mets plus le radius pour la photo */
} 

.card-populaires img {
    width: 40%;
    object-fit: cover;
    /* border-radius: 20px 0 0 20px; */
}

.body-card-populaires {
    width: 57%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto 0; /*pour centrer verticallement */
}

.body-card-populaires p {
    font-size: 90%;
    margin-top: 10px;
}

.body-card-populaires h3 {
    font-size: 95%;
}

.stars-card-populaires {
    align-self: flex-start;
    display: flex;
    align-items: center;
}

.stars-card-populaires i {
    color: #0065fc;
    font-size: 0.8em;
    margin-right: 1px;
}

/********* SECTION ACTIVITE **********/

#activites {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-activites {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#activites a {
    text-decoration: none;
    color: inherit;
}

.article {
    width: 22%;
    height: 445px;
    display: block;
}

.article:hover {
    transform: scale(1.05);
}

.card-activites {
    width: 100%;
    height: 445px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border-radius: 20px;
    overflow: hidden;
}

.card-title {
    margin: 10px 20px;
} 

.card-activites img {
    width: 100%;
    height: 88%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/********** FOOTER **********/

footer {
    background-color: #F2F2F2;
    width: 93%;
    height: 35vh;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 50px;
    margin-bottom: 0;
}

footer ul {
    list-style-type: none;
    text-align: left;
    padding-left: 0px;
    padding-top: 20px;
}
footer li {
    padding-bottom: 12px;
}
footer h3 {
    padding-top: 45px;
}

/********** VERSION TABLETTE **********/

@media only screen and (min-width: 768px) and ( max-width:992px)
 {
    body {
        width: 100%;
        height: 100%;
    }

    .a-nav {
        margin-right: 0;
        margin-left: 50px;
    }

    .search-bar {
        width: 60%;
    }

    .button-icon {
        margin-right: 5px;
    }

    .filtres {
        width: 100%;
    }

    .info {
        margin-top: 20px;
    }

    .hotels {
        width: 100%;
        height: 960px;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #hebergements {
        width: 100%;
        height: 630px;
        /* padding: 30px; */
        /* gap: 20px; */
    }    

    .container-hebergements {
        width: 100%;
        /* gap: 20px; */
    }
    
    .body-card-hebergements {
        margin-left: 5px;
    }

    .stars-card-hebergements {
        margin-left: 5px;
    }

    .populaires {
        width: 100%;
        height: 280px;
    }

    .heading-populaires {
        /* margin-top: 20px;
        margin-left: 20px; */
    }

    .container-populaires {
        width: 100%;
        /* margin: 30px auto; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container-populaires a {
        width: 32%;
    }

    .card-populaires {
        width: 100%;
        min-width: 195px;
        height: 145px;
    }
    .body-card-populaires {
        height: 135px;
    }

    .card-populaires img {
        width: 40%;
    }

    .stars-card-populaires i {
        margin-top: 10px;
    }

    #activites {
        margin-top: 40px;
    }

    .article {
        width: 22%;
        height: 267px;
        display: block;
    }

    .card-activites {
        width: 100%;
        height: 267px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
        border-radius: 20px;
        overflow: hidden
    }

    .card-activites img {
        width: 100%;
        height: 80%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    .card-title {
        margin: 5px 10px;
    } 

    footer {
        width: 87%;
    }
} 

/********** VERSION MOBILE **********/

@media only screen and (min-width: 320px) and (max-width: 767px) {
    body {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    main, header, footer {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .logo {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .a-nav {
        width: 50%;
        display: flex;
        justify-content: center;
        border-bottom: 3px solid #f2f2f2;
    }

    .a-nav:hover {
        color: #0065fc;
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }

    .trouver {
        margin: 30px 20px;
    }

    .search-bar {
        width: 100%;
        margin-top: 35px;
    }

    .search-bar input {
        width: 70%;
    }

    .search-bar button {
        width: 50px;
    }

    .button-text {
        display: none;
    }

    .loop {
        display: unset;
    }
    
    .filtres {
        width: 100%;
        margin-top: 35px; 
        /* display: flex;
        flex-flow: row wrap;
        justify-content:space-between;
        height: fit-content;
        align-items: center;  */
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    
    .filtres h3 {
        width: 100%;
        grid-column: 1 / -1;
     }
    
    .button {
        padding: 15px 0 15px 10px;
        text-align: left;
    }
    
    .info {
        margin-top: 40px;
    }
    
    .hotels {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .populaires {
        width: 100%;
        height: 580px;
        border-radius: 0;
        padding-bottom: 45px;
    }

    
    .heading-populaires {
        width: 100%;
        margin: 25px auto;
    }

    .heading-populaires i {
        margin-right: 0;
    }
    
    .container-populaires {
        width: 100%;
        margin-top: 0;
        gap: 10px;
    }

    .container-populaires a {
        width: 100%;
    }
    
    .card-populaires {
        width: 100%;
        margin: 0 auto;
    }
    
    #hebergements {
        width: 100%;
        height: 100%;
        background: white;
        display: flex;
        flex-direction: column;
        /* padding: 0;
        margin: 0; */
    }
    
    /* .container-hebergements a {
        width: 100%;
    } */

    .heading-hebergements {
        width: 90%;
        /* margin: 25px auto; */
    }
       
    .container-hebergements {
        width: 100%;
        height: 1400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* gap: 15px;
        border-radius: 0px; */
    }

    .container-hebergements a {
        width: 100%;
    }

    .card-hebergements {
        width: 100%;
        margin: 0 auto;
    }
    
    .afficher-plus {
        display: none;
    }
    
    #activites {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #activites a {
        text-decoration: none;
        color: inherit;
    }
    
    #activites h2 {
        max-width: 200px;
        margin-left: 20px;
        margin-bottom: -15px;
        margin-top: 100px;
    }
    
    .container-activites {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .article {
        width: 100%;
        height: 190px;
    }
    
    .card-activites {
        width: 90%;
        height: 190px;
        margin: 0 auto;
    }
    
    .card-activites img {
        width: 100%;
        height: 70%;
    }
    
    footer {
        width: 100%;
        height: 100%;
        padding: 45px 30px 40px;
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 80px;
    }
    
    footer h3 {
        padding: 0;
        padding-bottom: 20px;
    }
    
    footer ul {
        padding: 0;
        margin-bottom: 30px;
    }

}
